black==22.1.0
blue==0.9.1
click==8.1.7
colorama==0.4.6
et-xmlfile==1.1.0
flake8==4.0.1
isort==5.12.0
loguru==0.7.0
mccabe==0.6.1
mypy-extensions==1.0.0
numpy==1.25.2
openpyxl==3.1.2
pandas==2.0.3
pathspec==0.11.2
platformdirs==3.10.0
psutil==5.9.5
pycodestyle==2.8.0
pyflakes==2.4.0
python-dateutil==2.8.2
pytz==2023.3
six==1.16.0
taskipy==1.12.0
tomli==2.0.1
tzdata==2023.3
